@tailwind base;
@tailwind components;
@tailwind utilities;


.container{
    max-width: 1230px !important;
    margin: 0 auto;
}
.button-1{
     background:linear-gradient(
        to right, #4D5EF6,
        #F64D4D
     );
     width: 149px; 
}
.button-2{
    padding: 10px;
    border-radius: 8px;
}
.button-3{
    padding: 10px;
    border-radius: 8px;
}
.button-4{
    background:linear-gradient(
       to right,  rgba(77, 94, 246, 0.20) ,
       rgba(246, 77, 77, 0.20) 
    );
    width: 100px;
    height: 43px;
    border-radius: 7px;
}
.button-2:hover{
    background-color: rgb(30, 46, 60);
}